USE [ManaCena]
GO
/****** Object:  Table [dbo].[Cathegory]    Script Date: 7/18/2017 8:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cathegory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[CathegoryTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Cathegory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CathegoryType]    Script Date: 7/18/2017 8:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CathegoryType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CathegoryType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 7/18/2017 8:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/18/2017 8:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CathegoryId] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Wheight] [decimal](18, 4) NULL,
	[Unit] [int] NULL,
	[Size] [nvarchar](max) NULL,
	[ImageId] [int] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductAd]    Script Date: 7/18/2017 8:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAd](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NOT NULL,
	[CathegoryId] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[OriginalPrice] [decimal](18, 2) NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[DiscountPercentage] [decimal](18, 2) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 7/18/2017 8:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](max) NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 7/18/2017 8:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Seller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cathegory] ON 

INSERT [dbo].[Cathegory] ([Id], [Name], [CathegoryTypeId]) VALUES (1, N'Dairy', 1)
INSERT [dbo].[Cathegory] ([Id], [Name], [CathegoryTypeId]) VALUES (3, N'Meat', 1)
INSERT [dbo].[Cathegory] ([Id], [Name], [CathegoryTypeId]) VALUES (4, N'Bird Meat', 1)
SET IDENTITY_INSERT [dbo].[Cathegory] OFF
SET IDENTITY_INSERT [dbo].[CathegoryType] ON 

INSERT [dbo].[CathegoryType] ([Id], [Name]) VALUES (1, N'Groceries')
INSERT [dbo].[CathegoryType] ([Id], [Name]) VALUES (2, N'Alchohol')
INSERT [dbo].[CathegoryType] ([Id], [Name]) VALUES (3, N'Home and Chemistry')
SET IDENTITY_INSERT [dbo].[CathegoryType] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [CathegoryId], [Name], [Description], [Wheight], [Unit], [Size], [ImageId]) VALUES (1, 1, N'aaa', N'bbb', NULL, NULL, NULL, 1)
INSERT [dbo].[Product] ([Id], [CathegoryId], [Name], [Description], [Wheight], [Unit], [Size], [ImageId]) VALUES (2, 4, N'a2', N'b2', NULL, NULL, NULL, 2)
INSERT [dbo].[Product] ([Id], [CathegoryId], [Name], [Description], [Wheight], [Unit], [Size], [ImageId]) VALUES (3, 55, N'a2', N'b2', NULL, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

SET IDENTITY_INSERT [dbo].[ProductImage] OFF
ALTER TABLE [dbo].[Cathegory]  WITH CHECK ADD  CONSTRAINT [FK_Cathegory_CathegoryType] FOREIGN KEY([CathegoryTypeId])
REFERENCES [dbo].[CathegoryType] ([Id])
GO
ALTER TABLE [dbo].[Cathegory] CHECK CONSTRAINT [FK_Cathegory_CathegoryType]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Seller] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Seller] ([Id])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Seller]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Cathegory] FOREIGN KEY([CathegoryId])
REFERENCES [dbo].[Cathegory] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Cathegory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductImage] FOREIGN KEY([ImageId])
REFERENCES [dbo].[ProductImage] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductImage]
GO
ALTER TABLE [dbo].[ProductAd]  WITH CHECK ADD  CONSTRAINT [FK_Product_Item] FOREIGN KEY([CathegoryId])
REFERENCES [dbo].[Cathegory] ([Id])
GO
ALTER TABLE [dbo].[ProductAd] CHECK CONSTRAINT [FK_Product_Item]
GO
ALTER TABLE [dbo].[ProductAd]  WITH CHECK ADD  CONSTRAINT [FK_Product_Seller] FOREIGN KEY([Id])
REFERENCES [dbo].[Seller] ([Id])
GO
ALTER TABLE [dbo].[ProductAd] CHECK CONSTRAINT [FK_Product_Seller]
GO
